Repository Soul-Research-Labs/soul-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt, solhint, typescript-check, forge-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: forge-fmt
        name: Forge Format
        entry: bash -c 'forge fmt'
        language: system
        files: '\.sol$'
        exclude: "(lib/|node_modules/|coverage-stubs/|contracts/verifiers/generated/)"

      - id: solhint
        name: Solhint Linter
        entry: bash -c 'npx solhint'
        language: system
        files: '\.sol$'
        args: ["--max-warnings", "0"]
        exclude: "(lib/|node_modules/|coverage-stubs/|contracts/mocks/|test/)"

      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'npx tsc --noEmit'
        language: system
        files: '\.(ts|tsx)$'
        pass_filenames: false

      - id: forge-build
        name: Forge Build
        entry: bash -c 'forge build --sizes 2>&1 | grep -v "^Warning"'
        language: system
        files: '\.sol$'
        pass_filenames: false
        stages: [push]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '(\.sol$|\.snap$)'
      - id: end-of-file-fixer
        exclude: '(\.sol$|\.snap$)'
      - id: check-yaml
      - id: check-json
        exclude: "(cache/|artifacts/|out/)"
      - id: check-merge-conflict
      - id: detect-private-key

fix: codebase alignment — zero-address checks, AccessControl migration, license standardization, NatSpec completion, SDK type expansion, dedicated test coverage
  contracts/core/SoulProtocolHub.sol
  contracts/interfaces/IZKSLockVerifier.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/relayer/GelatoRelayAdapter.sol
  contracts/security/SecurityModule.sol
  contracts/upgradeable/ConfidentialStateContainerV3Upgradeable.sol
  contracts/upgradeable/CrossChainProofHubV3Upgradeable.sol
  contracts/upgradeable/NullifierRegistryV3Upgradeable.sol
  contracts/upgradeable/ProofCarryingContainerUpgradeable.sol
  contracts/upgradeable/SoulAtomicSwapV2Upgradeable.sol
  contracts/upgradeable/Soulv2OrchestratorUpgradeable.sol
  contracts/upgradeable/ZKBoundStateLocksUpgradeable.sol
  deployments/localhost-31337.json
  sdk/src/client/SoulClient.ts
  sdk/src/config/addresses.ts
  test/governance/SoulGovernance.t.sol
  test/relayer/GelatoRelayAdapter.t.sol
  test/security/BridgeSecurityScorecard.t.sol
  test/security/ExperimentalFeatureRegistry.t.sol
  test/upgradeable/SoulAtomicSwapV2Upgradeable.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

fix(security): patch 3 bugs in BridgeWatchtower
  contracts/security/BridgeWatchtower.sol
Due: forge-fmt, solhint, forge-build

chore(deps): update 18 npm packages to resolve security advisories
  package-lock.json
Due: none

P3: Role separation verified, L2 deploy scripts fixed, forge coverage stack-too-deep resolved
  Makefile
  contracts/libraries/BN254.sol
  contracts/verifiers/RingSignatureVerifier.sol
  docs/FORMAL_VERIFICATION.md
  foundry.toml
  scripts/deploy/DeployL2Testnet.s.sol
  scripts/deploy/deploy-l2-testnets.sh
  test/verifiers/RingSignatureVerifier.t.sol
Due: forge-fmt, solhint, forge-build

feat(routing): Phase 4 dynamic routing and liquidity orchestration - 3 contracts, 1 library, 133+13 fuzz tests, 5236 total passing
  contracts/bridge/LiquidityAwareRouter.sol
  contracts/core/DynamicRoutingOrchestrator.sol
  contracts/interfaces/IDynamicRoutingOrchestrator.sol
  contracts/libraries/RouteOptimizer.sol
  scripts/deploy/DeployRoutingSuite.s.sol
  test/bridge/LiquidityAwareRouter.t.sol
  test/core/DynamicRoutingOrchestrator.t.sol
  test/libraries/RouteOptimizer.t.sol
Due: forge-fmt, solhint, forge-build

fix: harden protocol wiring, SDK examples, and deploy scripts
  .github/copilot-instructions.md
  contracts/bridge/MultiBridgeRouter.sol
  contracts/core/ExperimentalFeatureRegistry.sol
  contracts/core/ExperimentalFeatureRegistry.sol.deprecated
  docs/DEPLOYMENT_CHECKLIST.md
  examples/sdk-quickstart/cross-chain-transfer.ts
  examples/sdk-quickstart/shielded-deposit.ts
  examples/sdk-quickstart/stealth-address.ts
  examples/sdk-quickstart/zk-proof.ts
  scripts/deploy/DeployMainnet.s.sol
  scripts/deploy/WireRemainingComponents.s.sol
  sdk/package.json
  test/security/ExperimentalGraduationManager.t.sol
  test/verifiers/RingSignatureVerifier.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: complete Tachyon integration — all 7 learnings implemented
  contracts/core/InstantSettlementGuarantee.sol
  contracts/core/IntentSettlementLayer.sol
  contracts/core/SoulProtocolHub.sol
  contracts/interfaces/IIntentSettlementLayer.sol
  contracts/mocks/MockProofVerifier.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/relayer/GelatoRelayAdapter.sol
  contracts/relayer/InstantRelayerRewards.sol
  contracts/relayer/SelfRelayAdapter.sol
  docs/INTENT_SETTLEMENT_GUIDE.md
  docs/TACHYON_COMPLIANCE_INTEGRATION.md
  docs/TACHYON_LEARNINGS.md
  noir/README.md
  scripts/deploy/DeployMainnet.s.sol
  scripts/deploy/DeployPrivacyComponents.s.sol
  scripts/deploy/WireIntentComponents.s.sol
  scripts/deploy/WireRemainingComponents.s.sol
  scripts/sync-abis.ts
  sdk/src/bridges/index.ts
  sdk/src/client/ComplianceClient.ts
  sdk/src/client/DynamicRoutingClient.ts
  sdk/src/client/IntentSettlementClient.ts
  sdk/src/config/mainnet-addresses.ts
  sdk/src/index.ts
  sdk/src/privacy/PrivacyHubClient.ts
  test/crosschain/L2ProofRouterExtended.t.sol
  test/integration/CompliancePrivacyE2E.t.sol
  test/integration/FullDeploymentE2E.t.sol
  test/integration/IntentSettlementE2E.t.sol
  test/integration/SoulProtocolHubWiring.t.sol
  test/invariant/SettlementInvariants.t.sol
  test/relayer/InstantRelayerRewards.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

Round 4: Governance security, events, SDK type safety, clients, Certora spec, tests (5914 passing)
  certora/conf/verify_emergency_coordinator.conf
  certora/specs/ProtocolEmergencyCoordinator.spec
  contracts/bridge/MultiBridgeRouter.sol
  contracts/core/InstantSettlementGuarantee.sol
  contracts/governance/OperationTimelockModule.sol
  contracts/governance/SoulUpgradeTimelock.sol
  contracts/interfaces/IInstantSettlementGuarantee.sol
  contracts/interfaces/ISoulUpgradeTimelock.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/relayer/DecentralizedRelayerRegistry.sol
  foundry.toml
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/client/Soulv2Primitives.ts
  sdk/src/index.ts
  sdk/src/primitives/ZKBoundStateLocksClient.ts
  sdk/src/privacy/CrossChainPrivacyOrchestrator.ts
  sdk/src/privacy/PrivacyHubClient.ts
  sdk/src/types/contracts.ts
  sdk/src/zkprover/NoirProver.ts
  test/governance/OperationTimelockModule.t.sol
  test/governance/SoulUpgradeTimelock.t.sol
  test/internal/LockStorage.t.sol
  test/internal/StateStorage.t.sol
  test/internal/VerifierProxy.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

Round 6: Fix 3 Certora specs, new DecentralizedRelayerRegistry spec, NatSpec + custom errors, BatchAccumulatorClient SDK
  certora/specs/DecentralizedRelayerRegistry.spec
  certora/specs/MultiBridgeRouter.spec
  certora/specs/NullifierRegistry.spec
  certora/specs/StealthAddressPrivacy.spec
  contracts/relayer/DecentralizedRelayerRegistry.sol
  sdk/src/privacy/BatchAccumulatorClient.ts
  sdk/src/privacy/index.ts
  test/relayer/DecentralizedRelayerRegistry.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

Round 8: SDK clients, test hardening, event fix, Certora spec
  certora/specs/ProtocolHealthAggregator.spec
  contracts/security/BridgeFraudProof.sol
  docs/INTEGRATION_GUIDE.md
  sdk/src/index.ts
  sdk/src/privacy/NullifierClient.ts
  sdk/src/privacy/NullifierRegistryV3Client.ts
  sdk/src/privacy/RingCTClient.ts
  sdk/src/privacy/StealthAddressClient.ts
  sdk/src/privacy/index.ts
  sdk/src/relayer/DecentralizedRelayerRegistryClient.ts
  sdk/src/security/EnhancedKillSwitchClient.ts
  test/security/BridgeFraudProof.t.sol
  test/security/OptimisticBridgeVerifier.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

fix: align docs and certora specs with codebase changes
  certora/specs/MultiBridgeRouter.spec
  docs/API_REFERENCE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/EXPERIMENTAL_FEATURES_POLICY.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/TACHYON_COMPLIANCE_INTEGRATION.md
  docs/TACHYON_LEARNINGS.md
  docs/THREAT_MODEL.md
Due: none

refactor: realign codebase as proof middleware, not bridge
  contracts/bridge/LiquidityAwareRouter.sol
  contracts/core/DynamicRoutingOrchestrator.sol
  contracts/core/InstantSettlementGuarantee.sol
  contracts/core/IntentSettlementLayer.sol
  contracts/interfaces/IDynamicRoutingOrchestrator.sol
  contracts/interfaces/IInstantSettlementGuarantee.sol
  contracts/interfaces/IIntentSettlementLayer.sol
  contracts/upgradeable/DynamicRoutingOrchestratorUpgradeable.sol
  contracts/upgradeable/InstantSettlementGuaranteeUpgradeable.sol
  contracts/upgradeable/IntentSettlementLayerUpgradeable.sol
  contracts/upgradeable/LiquidityAwareRouterUpgradeable.sol
  docs/TACHYON_LEARNINGS.md
  docs/architecture.md
  sdk/src/client/DynamicRoutingClient.ts
  sdk/src/privacy/CrossChainPrivacyOrchestrator.ts
  sdk/test/CrossChainPrivacyOrchestrator.test.ts
  test/core/DynamicRoutingOrchestrator.t.sol
  test/fuzz/DynamicRoutingFuzz.t.sol
  test/integration/IntentSettlementE2E.t.sol
  test/invariant/DynamicRoutingInvariant.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

style: formatter auto-formatting adjustments
  contracts/bridge/CapacityAwareRouter.sol
  contracts/interfaces/ICapacityAwareRouter.sol
  contracts/upgradeable/CapacityAwareRouterUpgradeable.sol
  test/adapters/UniversalAdapter.t.sol
  test/integrations/PrivateProofRelayIntegration.t.sol
Due: forge-fmt, solhint, forge-build

refactor: migrate to Ownable2Step and cache Merkle root [P1]
  contracts/integrations/PrivacyPoolIntegration.sol
  contracts/privacy/GasOptimizedPrivacy.sol
Due: forge-fmt, solhint, forge-build

test(sdk): add React hooks test suite with 9 hook tests
  sdk/packages/react/jest.config.js
  sdk/packages/react/jest.setup.js
  sdk/packages/react/src/__mocks__/sdk.ts
  sdk/packages/react/src/__tests__/hooks.test.tsx
Due: typescript-check

fix(compat): remove deprecated __UUPSUpgradeable_init() calls for OZ 5.x
  contracts/experimental/privacy/PrivateRelayerNetwork.sol
  contracts/experimental/privacy/RecursiveProofAggregator.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/DelayedClaimVault.sol
  contracts/privacy/StealthContractFactory.sol
  contracts/privacy/UnifiedNullifierManager.sol
  contracts/privacy/ViewKeyRegistry.sol
  contracts/upgradeable/CapacityAwareRouterUpgradeable.sol
  contracts/upgradeable/ConfidentialStateContainerV3Upgradeable.sol
  contracts/upgradeable/CrossChainProofHubV3Upgradeable.sol
  contracts/upgradeable/DirectL2MessengerUpgradeable.sol
  contracts/upgradeable/DynamicRoutingOrchestratorUpgradeable.sol
  contracts/upgradeable/InstantCompletionGuaranteeUpgradeable.sol
  contracts/upgradeable/IntentCompletionLayerUpgradeable.sol
  contracts/upgradeable/NullifierRegistryV3Upgradeable.sol
  contracts/upgradeable/PrivacyRouterUpgradeable.sol
  contracts/upgradeable/ProofCarryingContainerUpgradeable.sol
  contracts/upgradeable/SoulAtomicSwapV2Upgradeable.sol
  contracts/upgradeable/SoulProtocolHubUpgradeable.sol
  contracts/upgradeable/Soulv2OrchestratorUpgradeable.sol
  contracts/upgradeable/UniversalShieldedPoolUpgradeable.sol
  contracts/upgradeable/ZKBoundStateLocksUpgradeable.sol
Due: forge-fmt, solhint, forge-build

fix(ci): rewrite NatSpec coverage checker to fix false failures
  scripts/check_natspec_coverage.py
Due: none

feat: batch 5 — upgradeable tests, Certora placeholder fixes, deprecated SDK cleanup
  certora/specs/AdvancedPrivacy.spec
  certora/specs/CrossChainSecurityModules.spec
  certora/specs/NetworkWideInvariants.spec
  certora/specs/UpgradeableContracts.spec
  sdk/src/client/_deprecated/SoulPrivacySDK.ts
  test/upgradeable/CapacityAwareRouterUpgradeable.t.sol
  test/upgradeable/DynamicRoutingOrchestratorUpgradeable.t.sol
  test/upgradeable/InstantCompletionGuaranteeUpgradeable.t.sol
  test/upgradeable/IntentCompletionLayerUpgradeable.t.sol
  test/upgradeable/SoulProtocolHubUpgradeable.t.sol
Due: forge-fmt, typescript-check, forge-build

feat: add 6 new L2 bridge adapters, complete PolygonZkEVM, add RingSignatureHonkBridge
  certora/conf/verify_bitvm_bridge.conf
  certora/conf/verify_gas_optimized_privacy.conf
  certora/specs/BitVMBridgeAdapter.spec
  certora/specs/GasOptimizedPrivacy.spec
  contracts/adapters/BitVMBridgeAdapter.sol
  contracts/crosschain/BlastBridgeAdapter.sol
  contracts/crosschain/MantaPacificBridgeAdapter.sol
  contracts/crosschain/MantleBridgeAdapter.sol
  contracts/crosschain/ModeBridgeAdapter.sol
  contracts/crosschain/StarknetBridgeAdapter.sol
  contracts/crosschain/TaikoBridgeAdapter.sol
  contracts/privacy/GasOptimizedPrivacy.sol
  contracts/verifiers/adapters/RingSignatureHonkBridge.sol
  sdk/src/zkprover/ProofPreprocessor.ts
  test/adapters/BitVMBridgeAdapter.t.sol
  test/crosschain/BlastBridgeAdapter.t.sol
  test/crosschain/MantaPacificBridgeAdapter.t.sol
  test/crosschain/MantleBridgeAdapter.t.sol
  test/crosschain/ModeBridgeAdapter.t.sol
  test/crosschain/StarknetBridgeAdapter.t.sol
  test/crosschain/TaikoBridgeAdapter.t.sol
  test/verifiers/RingSignatureHonkBridge.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

fix: critical security audit - IBridgeAdapter compliance, MultiBridgeRouter target fix, NullifierRegistryV3 domain enforcement
  contracts/bridge/MultiBridgeRouter.sol
  contracts/core/NullifierRegistryV3.sol
  contracts/crosschain/BlastBridgeAdapter.sol
  contracts/crosschain/MantaPacificBridgeAdapter.sol
  contracts/crosschain/MantleBridgeAdapter.sol
  contracts/crosschain/ModeBridgeAdapter.sol
  contracts/crosschain/PolygonZkEVMBridgeAdapter.sol
  contracts/crosschain/StarknetBridgeAdapter.sol
  contracts/crosschain/TaikoBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  scripts/deploy/ConfigureCrossChain.s.sol
  scripts/deploy/DeployL2Bridges.s.sol
  scripts/deploy/DeployMainnet.s.sol
  test/crosschain/BlastBridgeAdapter.t.sol
  test/crosschain/MantaPacificBridgeAdapter.t.sol
  test/crosschain/MantleBridgeAdapter.t.sol
  test/crosschain/ModeBridgeAdapter.t.sol
  test/crosschain/PolygonZkEVMBridgeAdapter.t.sol
  test/crosschain/StarknetBridgeAdapter.t.sol
  test/crosschain/TaikoBridgeAdapter.t.sol
  test/gas/MultiBridgeRouterGasBenchmark.t.sol
  test/integration/CrossChainAdapterRoutingE2E.t.sol
  test/integration/MultiBridgeRouterFailoverE2E.t.sol
  test/integration/MultiBridgeRouterForkTest.t.sol
  test/integration/NullifierCrossChainSyncIntegration.t.sol
  test/invariant/MultiBridgeRouterInvariant.t.sol
  test/security/NullifierRegistryV3.t.sol
Due: forge-fmt, solhint, forge-build

feat: SDK bridge clients, Certora specs, MultiBridgeRouter enum sync, NatSpec
  certora/specs/BlastBridge.spec
  certora/specs/MantaPacificBridge.spec
  certora/specs/MantleBridge.spec
  certora/specs/ModeBridge.spec
  certora/specs/StarknetBridge.spec
  certora/specs/TaikoBridge.spec
  contracts/crosschain/BlastBridgeAdapter.sol
  contracts/crosschain/MantaPacificBridgeAdapter.sol
  contracts/crosschain/MantleBridgeAdapter.sol
  contracts/crosschain/ModeBridgeAdapter.sol
  contracts/crosschain/StarknetBridgeAdapter.sol
  contracts/crosschain/TaikoBridgeAdapter.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/blast.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/manta-pacific.ts
  sdk/src/bridges/mantle.ts
  sdk/src/bridges/mode.ts
  sdk/src/bridges/starknet.ts
  sdk/src/bridges/taiko.ts
Due: forge-fmt, solhint, typescript-check, forge-build

Session 8: Security audit (21 findings) - all CRITICAL/HIGH/MEDIUM/LOW fixed
  CHANGELOG.md
  contracts/bridge/MultiBridgeRouter.sol
  contracts/core/InstantCompletionGuarantee.sol
  contracts/core/NullifierRegistryV3.sol
  contracts/crosschain/BlastBridgeAdapter.sol
  contracts/crosschain/MantaPacificBridgeAdapter.sol
  contracts/crosschain/MantleBridgeAdapter.sol
  contracts/crosschain/ModeBridgeAdapter.sol
  contracts/crosschain/PolygonZkEVMBridgeAdapter.sol
  contracts/crosschain/StarknetBridgeAdapter.sol
  contracts/crosschain/TaikoBridgeAdapter.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/privacy/BatchAccumulator.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/UniversalShieldedPool.sol
  contracts/upgradeable/UniversalShieldedPoolUpgradeable.sol
  docs/BRIDGE_SECURITY_FRAMEWORK.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/SOLIDITY_API_REFERENCE.md
  docs/THREAT_MODEL.md
  test/gas/ShieldedPoolGasBenchmark.t.sol
  test/integration/NullifierCrossChainSyncIntegration.t.sol
  test/integration/ShieldedPoolLifecycleE2E.t.sol
  test/privacy/BatchAccumulator.t.sol
  test/privacy/CrossChainPrivacyHub.t.sol
  test/security/NullifierRegistryV3.t.sol
  test/upgradeable/CapacityAwareRouterUpgradeable.t.sol
Due: forge-fmt, solhint, forge-build

feat: implement CrossChainLiquidityVault - close #1 architectural gap
  contracts/bridge/CrossChainLiquidityVault.sol
  contracts/core/ZaseonProtocolHub.sol
  contracts/interfaces/ICrossChainLiquidityVault.sol
  contracts/interfaces/IZaseonProtocolHub.sol
  contracts/upgradeable/ZaseonProtocolHubUpgradeable.sol
  docs/architecture.md
  noir/Nargo.toml
  noir/liquidity_proof/Nargo.toml
  noir/liquidity_proof/src/main.nr
  scripts/deploy/DeployMainnet.s.sol
  scripts/deploy/DeploySecurityComponents.s.sol
  scripts/deploy/WireIntentComponents.s.sol
  scripts/deploy/WireRemainingComponents.s.sol
  sdk/src/bridge/CrossChainLiquidityVaultClient.ts
  sdk/src/index.ts
  test/integration/CrossChainLiquidityVaultE2E.t.sol
  test/integration/FullDeploymentE2E.t.sol
  test/integration/IntentCompletionE2E.t.sol
  test/integration/ZaseonProtocolHubWiring.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: integrate CrossChainLiquidityVault into protocol stack
  README.md
  certora/specs/CrossChainLiquidityVault.spec
  contracts/privacy/CrossChainPrivacyHub.sol
  scripts/deploy/DeployMainnet.s.sol
  sdk/src/config/addresses.ts
  sdk/src/config/mainnet-addresses.ts
  test/experimental/ConstantTimeOperations.t.sol
  test/experimental/GasNormalizer.t.sol
  test/experimental/MixnetNodeRegistry.t.sol
  test/experimental/PrivacyPreservingRelayerSelection.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

security: fix 3C/4H/4M/2L vulnerabilities across protocol contracts and tests
  README.md
  contracts/bridge/CrossChainLiquidityVault.sol
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/bridge/MultiBridgeRouter.sol
  contracts/crosschain/DirectL2Messenger.sol
  contracts/interfaces/ICrossChainLiquidityVault.sol
  contracts/interfaces/IL2DirectMessenger.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/StealthAddressRegistry.sol
  contracts/privacy/UniversalShieldedPool.sol
  contracts/upgradeable/DirectL2MessengerUpgradeable.sol
  scripts/deploy/DeployMainnet.s.sol
  test/crosschain/DirectL2Messenger.t.sol
  test/experimental/ConstantTimeOperations.t.sol
  test/experimental/GasNormalizer.t.sol
  test/experimental/PrivacyPreservingRelayerSelection.t.sol
  test/integration/StealthAddressE2EIntegration.t.sol
  test/primitives/ZKBoundStateLocks.t.sol
  test/security/CryptographicAttacks.t.sol
Due: forge-fmt, solhint, forge-build

fix: resolve 30 pre-existing test failures across 7 categories
  contracts/privacy/CrossChainPrivacyHub.sol
  test/adapters/BitVMBridgeAdapter.t.sol
  test/attacks/EconomicAttacks.t.sol
  test/gas/BridgeOperationsGasBenchmark.t.sol
  test/integration/StealthAddressE2EIntegration.t.sol
  test/privacy/CrossChainPrivacyExtended.t.sol
  test/privacy/CrossChainPrivacyHub.t.sol
Due: forge-fmt, solhint, forge-build

feat: add Cardano as supported chain via Wormhole bridge
  README.md
  certora/conf/verify_crosschain.conf
  contracts/crosschain/CardanoBridgeAdapter.sol
  contracts/crosschain/SolanaBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/CARDANO_INTEGRATION.md
  docs/SOLANA_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/cardano.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/solana.ts
  test/crosschain/CardanoBridgeAdapter.t.sol
  test/crosschain/SolanaBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Midnight and Railgun bridge adapters
  README.md
  contracts/crosschain/MidnightBridgeAdapter.sol
  contracts/crosschain/RailgunBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  contracts/libraries/UniversalChainRegistry.sol
  docs/MIDNIGHT_INTEGRATION.md
  docs/RAILGUN_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/midnight.ts
  sdk/src/bridges/railgun.ts
  test/crosschain/MidnightBridgeAdapter.t.sol
  test/crosschain/RailgunBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Aztec bridge adapter (privacy ZK-rollup)
  README.md
  contracts/crosschain/AztecBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/AZTEC_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/aztec.ts
  sdk/src/bridges/index.ts
  test/crosschain/AztecBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Secret Network bridge adapter (TEE-based privacy L1)
  README.md
  contracts/crosschain/SecretBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/SECRET_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/secret.ts
  test/crosschain/SecretBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Polkadot bridge adapter (Snowbridge + BEEFY)
  README.md
  contracts/crosschain/PolkadotBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/POLKADOT_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/polkadot.ts
  test/crosschain/PolkadotBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Cosmos Hub bridge adapter (Gravity Bridge + IBC light client)
  README.md
  contracts/crosschain/CosmosBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/COSMOS_INTEGRATION.md
  docs/POLKADOT_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/cosmos.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/polkadot.ts
  test/crosschain/CosmosBridgeAdapter.t.sol
  test/crosschain/PolkadotBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Zcash bridge adapter (Halo 2 Orchard proofs, shielded UTXO)
  README.md
  contracts/crosschain/ZcashBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/COSMOS_INTEGRATION.md
  docs/ZCASH_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/cosmos.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/zcash.ts
  test/crosschain/ZcashBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Penumbra, NEAR, Avalanche bridge adapters
  README.md
  contracts/crosschain/AvalancheBridgeAdapter.sol
  contracts/crosschain/NEARBridgeAdapter.sol
  contracts/crosschain/PenumbraBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/AVALANCHE_INTEGRATION.md
  docs/NEAR_INTEGRATION.md
  docs/PENUMBRA_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridge/MultiBridgeRouterClient.ts
  sdk/src/bridges/avalanche.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/near.ts
  sdk/src/bridges/penumbra.ts
  test/crosschain/AvalancheBridgeAdapter.t.sol
  test/crosschain/NEARBridgeAdapter.t.sol
  test/crosschain/PenumbraBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build
