Repository Soul-Research-Labs/soul-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt, solhint, typescript-check, forge-build

forge-fmt:
  name: Forge Format
  entry: bash -c 'forge fmt'
  language: system

solhint:
  name: Solhint Linter
  entry: bash -c 'npx solhint'
  language: system
  args:
  - --max-warnings
  - '0'

typescript-check:
  name: TypeScript Check
  entry: bash -c 'npx tsc --noEmit'
  language: system
  pass_filenames: false

forge-build:
  name: Forge Build
  entry: bash -c 'forge build --sizes 2>&1 | grep -v "^Warning"'
  language: system
  pass_filenames: false
  stages:
  - push

test(bitvm): add fuzz coverage for fee and payload bounds
  test/fuzz/BitVMAdapterFuzz.t.sol
Due: forge-fmt, forge-build

test(bitvm): add invariant handler for lifecycle and fee properties
  test/invariant/BitVMAdapterInvariant.t.sol
Due: forge-fmt, forge-build

formal(bitvm): add Certora bridge spec and config scaffold
  certora/conf/verify_bitvm_bridge.conf
  certora/specs/BitVMBridge.spec
  docs/CERTORA_RECONCILIATION.md
  docs/FORMAL_VERIFICATION.md
Due: none

docs(bitvm): include new fuzz and invariant suites
  docs/TEST_COVERAGE_SUMMARY.md
Due: none

test(bitvm): add DynamicRoutingOrchestrator selection coverage
  docs/TEST_COVERAGE_SUMMARY.md
  test/core/DynamicRoutingOrchestratorBitVM.t.sol
Due: forge-fmt, forge-build

chore(format): normalize bitvm test and coverage formatting
  docs/TEST_COVERAGE_SUMMARY.md
  test/core/DynamicRoutingOrchestratorBitVM.t.sol
  test/crosschain/BitVMAdapter.t.sol
  test/fuzz/BitVMAdapterFuzz.t.sol
  test/integration/CrossChainAdapterRoutingE2E.t.sol
  test/invariant/BitVMAdapterInvariant.t.sol
Due: forge-fmt, forge-build

fix: implement comprehensive security audit findings (5C/10H/14M)
  contracts/bridge/CrossChainLiquidityVault.sol
  contracts/bridge/MultiBridgeRouter.sol
  contracts/compliance/CrossChainSanctionsOracle.sol
  contracts/compliance/SelectiveDisclosureManager.sol
  contracts/compliance/ZaseonComplianceV2.sol
  contracts/crosschain/EthereumL1Bridge.sol
  contracts/crosschain/HyperlaneAdapter.sol
  contracts/crosschain/LayerZeroAdapter.sol
  contracts/crosschain/LineaBridgeAdapter.sol
  contracts/crosschain/ScrollBridgeAdapter.sol
  contracts/crosschain/zkSyncBridgeAdapter.sol
  contracts/governance/OperationTimelockModule.sol
  contracts/interfaces/ICrossChainProofHubV3.sol
  contracts/interfaces/IUniversalShieldedPool.sol
  contracts/privacy/UniversalShieldedPool.sol
  contracts/relayer/RelayerHealthMonitor.sol
  contracts/security/ProtocolEmergencyCoordinator.sol
  contracts/verifiers/Groth16VerifierBN254.sol
  noir/cross_chain_proof/src/main.nr
  noir/nullifier/src/main.nr
  noir/private_transfer/src/main.nr
  noir/state_transfer/src/main.nr
  sdk/src/cli/index.ts
  sdk/src/client/ShieldedPoolClient.ts
  sdk/src/client/ZaseonSDK.ts
  sdk/src/privacy/StealthAddressClient.ts
  sdk/src/utils/crypto.ts
  test/crosschain/HyperlaneAdapter.t.sol
  test/crosschain/LayerZeroAdapter.t.sol
  test/crosschain/LineaBridgeAdapter.t.sol
  test/crosschain/ScrollBridgeAdapter.t.sol
  test/crosschain/zkSyncBridgeAdapter.t.sol
  test/governance/OperationTimelockModule.t.sol
  test/privacy/UniversalShieldedPool.t.sol
  test/verifiers/Groth16Adapters.t.sol
  test/verifiers/Groth16VerifierBN254.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

fix: EmergencyRecovery pauseAll uses try-catch instead of reverting on single failure
  contracts/security/EmergencyRecovery.sol
Due: forge-fmt, solhint, forge-build

fix: UniswapV3RebalanceAdapter getQuote returns 0 instead of misleading amountIn
  contracts/integrations/UniswapV3RebalanceAdapter.sol
  test/unit/UniswapV3RebalanceAdapterTest.t.sol
Due: forge-fmt, solhint, forge-build

fix: PrivacyPoolIntegration rejects fee-on-transfer tokens on deposit
  contracts/integrations/PrivacyPoolIntegration.sol
Due: forge-fmt, solhint, forge-build

fix: prevent duplicate token mapping in zkSync, Scroll, Linea adapters
  contracts/crosschain/LineaBridgeAdapter.sol
  contracts/crosschain/ScrollBridgeAdapter.sol
  contracts/crosschain/zkSyncBridgeAdapter.sol
Due: forge-fmt, solhint, forge-build

fix: NullifierRegistryV3 root ring buffer uses reference counting
  contracts/core/NullifierRegistryV3.sol
Due: forge-fmt, solhint, forge-build

fix: pass admin address to ZaseonComplianceV2 constructor in deploy script
  scripts/deploy/DeployComplianceSuite.s.sol
Due: forge-fmt, solhint, forge-build

fix: document StealthAddressClient ECDH as Zaseon-proprietary, not ERC-5564
  sdk/src/privacy/StealthAddressClient.ts
Due: typescript-check

fix: force-release accumulating batch when deactivating route
  contracts/privacy/BatchAccumulator.sol
Due: forge-fmt, solhint, forge-build

fix: add downgradeIncident for gradual severity de-escalation
  contracts/interfaces/IProtocolEmergencyCoordinator.sol
  contracts/security/ProtocolEmergencyCoordinator.sol
Due: forge-fmt, solhint, forge-build

fix: add nonce to proof ID generation to prevent deterministic collisions
  contracts/bridge/CrossChainProofHubV3.sol
Due: forge-fmt, solhint, forge-build

fix: LayerZero bridgeMessage reverts with actual chainId on unmapped chain
  contracts/crosschain/LayerZeroAdapter.sol
Due: forge-fmt, solhint, forge-build

fix: correct NatSpec param description in AddedSecurityOrchestrator
  contracts/integrations/AddedSecurityOrchestrator.sol
Due: forge-fmt, solhint, forge-build

style: apply formatter to NatSpec indentation and line wrapping
  contracts/integrations/AddedSecurityOrchestrator.sol
  contracts/integrations/PrivacyPoolIntegration.sol
  contracts/privacy/BatchAccumulator.sol
  contracts/security/EmergencyRecovery.sol
Due: forge-fmt, solhint, forge-build

test: update proofId computation and gas threshold for nonce-based IDs
  test/fuzz/CrossChainProofHubV3Fuzz.t.sol
  test/gas/CrossChainProofHubGasBenchmark.t.sol
Due: forge-fmt, forge-build

fix(NativeL2BridgeWrapper): use abi.encode for collision-safe messageId
  contracts/adapters/NativeL2BridgeWrapper.sol
Due: forge-fmt, solhint, forge-build

fix(OptimisticNullifierChallenge): require invalidity proof hash in upholdChallenge
  contracts/security/OptimisticNullifierChallenge.sol
  test/security/OptimisticNullifierChallenge.t.sol
Due: forge-fmt, solhint, forge-build

fix(UniversalShieldedPool): emit event on testMode withdrawal bypass
  contracts/privacy/UniversalShieldedPool.sol
Due: forge-fmt, solhint, forge-build

fix(DelayedClaimVault): add rotateVrfSeed to prevent static seed prediction
  contracts/privacy/DelayedClaimVault.sol
Due: forge-fmt, solhint, forge-build

fix(EncryptedStealthAnnouncements): bound getAnnouncementsInRange block range
  contracts/privacy/EncryptedStealthAnnouncements.sol
Due: forge-fmt, solhint, forge-build

fix(DirectL2Messenger): include routing path in messageId computation
  contracts/crosschain/DirectL2Messenger.sol
Due: forge-fmt, solhint, forge-build

fix(UnifiedNullifierManager): bound reverseSoulLookup array growth
  contracts/interfaces/IUnifiedNullifierManager.sol
  contracts/privacy/UnifiedNullifierManager.sol
Due: forge-fmt, solhint, forge-build

fix(IntentCompletionLayer): rename misleading ChallengePeriodActive error
  contracts/core/IntentCompletionLayer.sol
  contracts/interfaces/IIntentCompletionLayer.sol
  contracts/upgradeable/IntentCompletionLayerUpgradeable.sol
  test/core/IntentCompletionLayer.t.sol
Due: forge-fmt, solhint, forge-build

docs(DelayedClaimVault): document block-exploitable randomness limitation
  contracts/privacy/DelayedClaimVault.sol
Due: forge-fmt, solhint, forge-build

fix(EncryptedStealthAnnouncements): bound getAnnouncements batch lookup size
  contracts/privacy/EncryptedStealthAnnouncements.sol
Due: forge-fmt, solhint, forge-build

fix(CrossChainProofHubV3): add upper bound checks for proof and public inputs size
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/interfaces/ICrossChainProofHubV3.sol
Due: forge-fmt, solhint, forge-build

fix: resolve compilation errors from audit fixes
  contracts/privacy/UniversalShieldedPool.sol
  contracts/security/OptimisticNullifierChallenge.sol
  test/security/OptimisticNullifierChallenge.t.sol
Due: forge-fmt, solhint, forge-build

style: apply formatter to audit-modified files
  contracts/adapters/NativeL2BridgeWrapper.sol
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/privacy/EncryptedStealthAnnouncements.sol
  contracts/privacy/UniversalShieldedPool.sol
Due: forge-fmt, solhint, forge-build

fix(CrossChainMessageVerifier): add nonReentrant to resolveChallenge
  contracts/security/CrossChainMessageVerifier.sol
Due: forge-fmt, solhint, forge-build

fix(PrivacyZoneManager): revert on TVL underflow instead of silent clamp
  contracts/privacy/PrivacyZoneManager.sol
Due: forge-fmt, solhint, forge-build

fix(governance): enforce CEI pattern in executeBatch
  contracts/governance/OperationTimelockModule.sol
Due: forge-fmt, solhint, forge-build

fix(governance): remove unused predecessor param from executeUpgrade
  contracts/governance/ZaseonUpgradeTimelock.sol
  contracts/interfaces/IZaseonUpgradeTimelock.sol
  test/governance/ZaseonUpgradeTimelock.t.sol
Due: forge-fmt, solhint, forge-build

fix(upgradeable): add PausableUpgradeable to InstantCompletionGuarantee
  contracts/upgradeable/InstantCompletionGuaranteeUpgradeable.sol
Due: forge-fmt, solhint, forge-build

Path conditions:
  forge-fmt: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/verifiers/generated/)
  solhint: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/mocks/|test/)
  typescript-check: any of: \.(ts|tsx)$
  forge-build: any of: \.sol$
