Repository Soul-Research-Labs/soul-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt, solhint, typescript-check, forge-build

forge-fmt:
  name: Forge Format
  entry: bash -c 'forge fmt'
  language: system

solhint:
  name: Solhint Linter
  entry: bash -c 'npx solhint'
  language: system
  args:
  - --max-warnings
  - '0'

typescript-check:
  name: TypeScript Check
  entry: bash -c 'npx tsc --noEmit'
  language: system
  pass_filenames: false

forge-build:
  name: Forge Build
  entry: bash -c 'forge build --sizes 2>&1 | grep -v "^Warning"'
  language: system
  pass_filenames: false
  stages:
  - push

fix(adapters): fix Arbitrum retryable ticket params and OP Stack gasLimit truncation
  contracts/adapters/NativeL2BridgeWrapper.sol
Due: forge-fmt, solhint, forge-build

fix(adapters): align send/receive public inputs in EVMUniversalAdapter
  contracts/adapters/EVMUniversalAdapter.sol
  contracts/interfaces/IUniversalChainAdapter.sol
Due: forge-fmt, solhint, forge-build

fix(core): require verifier for dispute proof validation
  contracts/core/IntentCompletionLayer.sol
Due: forge-fmt, solhint, forge-build

fix(bridge): remove OPERATOR_ROLE fallback in verifyMessage
  contracts/bridge/MultiBridgeRouter.sol
Due: forge-fmt, solhint, forge-build

fix(privacy): reject zero-address verifiers in PrivacyZoneManager
  contracts/privacy/PrivacyZoneManager.sol
Due: forge-fmt, solhint, forge-build

fix(security): track forfeited bonds and add withdrawal function
  contracts/security/CrossChainMessageVerifier.sol
Due: forge-fmt, solhint, forge-build

fix(libraries): validate padding bytes in envelope unwrap functions
  contracts/libraries/FixedSizeMessageWrapper.sol
  contracts/libraries/ProofEnvelope.sol
Due: forge-fmt, solhint, forge-build

fix: replace abi.encodePacked with abi.encode for variable-length args
  contracts/governance/OperationTimelockModule.sol
  contracts/internal/validators/CommitmentValidator.sol
Due: forge-fmt, solhint, forge-build

fix(compliance): restrict revokeKYC to original provider or admin
  contracts/compliance/ZaseonComplianceV2.sol
Due: forge-fmt, solhint, forge-build

fix(compliance): cap batchScreen input array size
  contracts/compliance/CrossChainSanctionsOracle.sol
Due: forge-fmt, solhint, forge-build

fix(integrations): use deterministic requestId derivation
  contracts/integrations/PrivateProofRelayIntegration.sol
Due: forge-fmt, solhint, forge-build

fix(compliance): add ownership verification for privacy config
  contracts/compliance/ConfigurablePrivacyLevels.sol
Due: forge-fmt, solhint, forge-build

fix(libraries): update free memory pointer in computeProofHash assembly
  contracts/libraries/VerifierGasUtils.sol
Due: forge-fmt, solhint, forge-build

fix(verifiers): fix O(n³) dedup in batchVerify and add batch limit
  contracts/verifiers/VerifierRegistryV2.sol
Due: forge-fmt, solhint, forge-build

fix(crosschain): revert on insufficient gas instead of forwarding all
  contracts/crosschain/DirectL2Messenger.sol
Due: forge-fmt, solhint, forge-build

fix: update sendEncryptedState test calls for newCommitment parameter
  test/adapters/UniversalAdapter.t.sol
Due: forge-fmt, forge-build

fix(test): register per-bridge operators in MultiBridgeRouter tests
  test/fuzz/MultiBridgeRouterFuzz.t.sol
  test/gas/MultiBridgeRouterGasBenchmark.t.sol
  test/integration/CrossChainAdapterRoutingE2E.t.sol
  test/integration/MultiBridgeRouterFailoverE2E.t.sol
Due: forge-fmt, forge-build

style: apply forge fmt to 3 modified contracts
  contracts/bridge/MultiBridgeRouter.sol
  contracts/core/IntentCompletionLayer.sol
  contracts/upgradeable/InstantCompletionGuaranteeUpgradeable.sol
Due: forge-fmt, solhint, forge-build

fix: 6th audit critical and high severity vulnerability fixes
  contracts/compliance/ConfigurablePrivacyLevels.sol
  contracts/core/InstantCompletionGuarantee.sol
  contracts/crosschain/DirectL2Messenger.sol
  contracts/integrations/PrivacyPoolIntegration.sol
  contracts/interfaces/IInstantCompletionGuarantee.sol
  contracts/security/EnhancedKillSwitch.sol
  contracts/verifiers/RingSignatureVerifier.sol
  sdk/src/zkprover/ProofPreprocessor.ts
  test/core/InstantCompletionGuarantee.t.sol
  test/gas/MultiBridgeRouterGasBenchmark.t.sol
  test/integration/CrossChainAdapterRoutingE2E.t.sol
  test/integration/IntentCompletionE2E.t.sol
  test/integration/MultiBridgeRouterFailoverE2E.t.sol
  test/invariant/CompletionInvariants.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

Fix medium/low severity findings: V-1, M-1, M-5, L-2, L-4
  .commit_msg.txt
  contracts/adapters/NativeL2BridgeWrapper.sol
  contracts/crosschain/EthereumL1Bridge.sol
  contracts/interfaces/IViewKeyRegistry.sol
  contracts/privacy/ViewKeyRegistry.sol
  contracts/security/ProtocolHealthAggregator.sol
  contracts/security/RelayProofValidator.sol
Due: forge-fmt, solhint, forge-build

Remove temporary commit message file
  .commit_msg.txt
Due: none

Upgrade README with architecture diagram, network table, and full project stats
  README.md
Due: none

fix: make cross-chain relay delivery retryable paths
  contracts/crosschain/CrossChainNullifierSync.sol
  contracts/crosschain/ZaseonCrossChainRelay.sol
  sdk/src/client/execute.ts
  sdk/src/utils/recovery.ts
  sdk/src/zkprover/WorkerPool.ts
  sdk/test/client/execute.test.ts
  sdk/test/utils/recovery.test.ts
  sdk/test/zkprover/WorkerPool.test.ts
  test/crosschain/CrossChainNullifierSync.t.sol
  test/crosschain/ZaseonCrossChainRelay.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: enforce shielded pool denomination tiers, widen relay jitter, ephemeral cleanup, and verifier router custom errors
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/upgradeable/UniversalShieldedPoolUpgradeable.sol
  contracts/verifiers/ZaseonVerifierRouter.sol
  test/crosschain/CrossChainNullifierSync.t.sol
Due: forge-fmt, solhint, forge-build

docs(readme): exponentially improve README with layered architecture + sequence diagram
  README.md
Due: none

security(audit-pass-5): close messageId replay, pause bypass, infra exposure
  .github/workflows/ci.yml
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/crosschain/DirectL2Messenger.sol
  contracts/governance/ZaseonUpgradeTimelock.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/upgradeable/CrossChainProofHubV3Upgradeable.sol
  contracts/upgradeable/ZKBoundStateLocksUpgradeable.sol
  relayer/.env.example
  relayer/docker-compose.yml
  sdk/src/config/chainRegistry.ts
Due: forge-fmt, solhint, typescript-check, forge-build

Path conditions:
  forge-fmt: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/verifiers/generated/)
  solhint: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/mocks/|test/)
  typescript-check: any of: \.(ts|tsx)$
  forge-build: any of: \.sol$
