Repository Soul-Research-Labs/soul-protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: forge-fmt, solhint, typescript-check, forge-build

forge-fmt:
  name: Forge Format
  entry: bash -c 'forge fmt'
  language: system

solhint:
  name: Solhint Linter
  entry: bash -c 'npx solhint'
  language: system
  args:
  - --max-warnings
  - '0'

typescript-check:
  name: TypeScript Check
  entry: bash -c 'npx tsc --noEmit'
  language: system
  pass_filenames: false

forge-build:
  name: Forge Build
  entry: bash -c 'forge build --sizes 2>&1 | grep -v "^Warning"'
  language: system
  pass_filenames: false
  stages:
  - push

feat: add Axelar bridge adapter + fix stale documentation
  README.md
  contracts/crosschain/AxelarBridgeAdapter.sol
  docs/AXELAR_INTEGRATION.md
  docs/BRIDGE_INTEGRATION.md
  docs/CROSS_CHAIN_PRIVACY.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridges/axelar.ts
  sdk/src/bridges/index.ts
  test/crosschain/AxelarBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Wormhole, Sui, Aptos, TON bridge adapters
  README.md
  contracts/crosschain/AptosBridgeAdapter.sol
  contracts/crosschain/SuiBridgeAdapter.sol
  contracts/crosschain/TONBridgeAdapter.sol
  contracts/crosschain/WormholeBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/APTOS_INTEGRATION.md
  docs/SUI_INTEGRATION.md
  docs/TON_INTEGRATION.md
  docs/WORMHOLE_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridges/aptos.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/sui.ts
  sdk/src/bridges/ton.ts
  sdk/src/bridges/wormhole.ts
  test/crosschain/AptosBridgeAdapter.t.sol
  test/crosschain/SuiBridgeAdapter.t.sol
  test/crosschain/TONBridgeAdapter.t.sol
  test/crosschain/WormholeBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: add Aleo, XRPL, Bitcoin bridge adapters; add SOLANA/ALEO/XRPL/BITCOIN to BridgeType enum
  README.md
  contracts/crosschain/AleoBridgeAdapter.sol
  contracts/crosschain/BitcoinBridgeAdapter.sol
  contracts/crosschain/XRPLBridgeAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/ALEO_INTEGRATION.md
  docs/BITCOIN_INTEGRATION.md
  docs/XRPL_INTEGRATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  sdk/src/bridges/aleo.ts
  sdk/src/bridges/bitcoin.ts
  sdk/src/bridges/index.ts
  sdk/src/bridges/xrpl.ts
  test/crosschain/AleoBridgeAdapter.t.sol
  test/crosschain/AptosBridgeAdapter.t.sol
  test/crosschain/BitcoinBridgeAdapter.t.sol
  test/crosschain/SuiBridgeAdapter.t.sol
  test/crosschain/TONBridgeAdapter.t.sol
  test/crosschain/WormholeBridgeAdapter.t.sol
  test/crosschain/XRPLBridgeAdapter.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

fix: complete integration doc coverage, fix gas benchmark, add Chainlink CCIP SDK
  README.md
  docs/BLAST_INTEGRATION.md
  docs/CHAINLINK_CCIP_INTEGRATION.md
  docs/ETHEREUM_INTEGRATION.md
  docs/LINEA_INTEGRATION.md
  docs/MANTA_PACIFIC_INTEGRATION.md
  docs/MANTLE_INTEGRATION.md
  docs/MODE_INTEGRATION.md
  docs/OPTIMISM_INTEGRATION.md
  docs/POLYGON_ZKEVM_INTEGRATION.md
  docs/SCROLL_INTEGRATION.md
  docs/STARKNET_INTEGRATION.md
  docs/TAIKO_INTEGRATION.md
  docs/ZKSYNC_INTEGRATION.md
  sdk/src/bridges/chainlink-ccip.ts
  sdk/src/bridges/index.ts
  test/gas/MultiBridgeRouterGasBenchmark.t.sol
Due: forge-fmt, typescript-check, forge-build

feat: implement post-quantum cryptography (PQC) layer - Phase 1 foundation with HybridPQCVerifier, IPQCVerifier interface, 42 new tests (8313 total), PQC Migration Guide, SDK module
  contracts/experimental/verifiers/HybridPQCVerifier.sol
  contracts/interfaces/IPQCVerifier.sol
  contracts/interfaces/IStealthAddressRegistry.sol
  contracts/verifiers/VerifierRegistryV2.sol
  docs/PQC_MIGRATION_GUIDE.md
  docs/RISK_MITIGATION_ROADMAP.md
  docs/THREAT_MODEL.md
  sdk/src/experimental/pqc.ts
  test/pqc/HybridPQCVerifier.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: PQC Phase 2 — hybrid migration with stealth, bridge attestation, STARK
  contracts/experimental/privacy/PQCBridgeAttestation.sol
  contracts/experimental/privacy/PQCStealthIntegration.sol
  contracts/experimental/privacy/RecursiveProofAggregator.sol
  contracts/experimental/verifiers/HybridPQCVerifier.sol
  contracts/interfaces/IStealthAddressRegistry.sol
  contracts/privacy/StealthAddressRegistry.sol
  contracts/security/ExperimentalFeatureRegistry.sol
  docs/PQC_MIGRATION_GUIDE.md
  sdk/src/experimental/pqc.ts
  test/pqc/PQCBridgeAttestation.t.sol
  test/pqc/PQCPhase2.t.sol
  test/pqc/PQCStealthIntegration.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: Falcon-512 Noir ZK circuit + FalconZKVerifier bridge — PQC Phase 2 complete
  contracts/experimental/verifiers/FalconZKVerifier.sol
  docs/PQC_MIGRATION_GUIDE.md
  noir/Nargo.toml
  noir/falcon_signature/Nargo.toml
  noir/falcon_signature/Prover.toml
  noir/falcon_signature/Verifier.toml
  noir/falcon_signature/src/main.nr
  test/pqc/FalconZKVerifier.t.sol
Due: forge-fmt, solhint, forge-build

feat: PQC Phase 3 — full PQC with precompile routing, on-chain verification, STARK migration, Poseidon commitments, graduation manager, PQC-native stealth
  contracts/experimental/privacy/PQCGraduationManager.sol
  contracts/experimental/privacy/PQCNativeStealth.sol
  contracts/experimental/privacy/PoseidonCommitmentManager.sol
  contracts/experimental/verifiers/OnChainPQCVerifier.sol
  contracts/experimental/verifiers/PQCPrecompileRouter.sol
  contracts/experimental/verifiers/STARKVerifierRouter.sol
  docs/PQC_MIGRATION_GUIDE.md
  test/pqc/PQCPhase3.t.sol
Due: forge-fmt, solhint, forge-build

docs: add LIQUIDITY_MANAGEMENT.md - comprehensive liquidity architecture guide
  docs/LIQUIDITY_MANAGEMENT.md
Due: none

feat: roadmap phase 1 — Base chain, relayer scaffold, EIP draft, CI hardening
  .github/workflows/ci.yml
  ROADMAP_INTERNAL.md
  contracts/crosschain/BaseBridgeAdapter.sol
  contracts/interfaces/IBaseBridgeAdapter.sol
  contracts/test/ZaseonTestHelper.sol
  docs/APPLICATIONS.md
  docs/EIP_DRAFT.md
  examples/private-payment/index.ts
  package.json
  relayer/Dockerfile
  relayer/README.md
  relayer/docker-compose.yml
  relayer/package.json
  relayer/src/config.ts
  relayer/src/health.ts
  relayer/src/index.ts
  relayer/src/logger.ts
  relayer/src/queue.ts
  relayer/src/watcher.ts
  relayer/tsconfig.json
  sdk/src/bridges/base.ts
  sdk/src/bridges/index.ts
Due: forge-fmt, solhint, typescript-check, forge-build

docs: align all documentation formatting + push ROADMAP_INTERNAL.md
  README.md
  ROADMAP_INTERNAL.md
  docs/ARBITRUM_INTEGRATION.md
  docs/AZTEC_INTEGRATION.md
  docs/BRIDGE_INTEGRATION.md
  docs/BRIDGE_SECURITY_FRAMEWORK.md
  docs/COMPLEXITY_MANAGEMENT.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/EIP_DRAFT.md
  docs/ETHEREUM_INTEGRATION.md
  docs/FORMAL_VERIFICATION.md
  docs/GETTING_STARTED.md
  docs/INCIDENT_RESPONSE_RUNBOOK.md
  docs/INTEGRATION_GUIDE.md
  docs/INTENT_COMPLETION_GUIDE.md
  docs/LIQUIDITY_MANAGEMENT.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/MODULAR_PRIVACY_ARCHITECTURE.md
  docs/MONITORING_CONFIG.md
  docs/NATSPEC_AUDIT_REPORT.md
  docs/NATSPEC_STYLE_GUIDE.md
  docs/OPTIMISM_INTEGRATION.md
  docs/PRIVACY_MIDDLEWARE.md
  docs/RECURSIVE_PROOFS.md
  docs/RELAYER_RESILIENCE.md
  docs/RISK_MITIGATION_ROADMAP.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/THREAT_MODEL.md
Due: none

chore: align remaining docs, SDK bridges, test helper formatting
  contracts/test/ZaseonTestHelper.sol
  docs/DEPLOYMENT.md
  docs/EIP_DRAFT.md
  docs/INCIDENT_RESPONSE_RUNBOOK.md
  docs/MODULAR_PRIVACY_ARCHITECTURE.md
  docs/MONITORING_CONFIG.md
  docs/NATSPEC_STYLE_GUIDE.md
  docs/RECURSIVE_PROOFS.md
  docs/RELAYER_RESILIENCE.md
  examples/private-payment/index.ts
  relayer/README.md
  relayer/src/logger.ts
  sdk/src/bridges/base.ts
  sdk/src/bridges/index.ts
Due: forge-fmt, typescript-check, forge-build

feat: compile all 21 Noir circuits + implement relayer relay logic
  deployments/base-sepolia-84532.json
  noir/Nargo.toml
  noir/accredited_investor/Nargo.toml
  noir/balance_proof/Nargo.toml
  noir/compliance_proof/Nargo.toml
  noir/container/Nargo.toml
  noir/cross_chain_proof/Nargo.toml
  noir/cross_domain_nullifier/Nargo.toml
  noir/encrypted_transfer/Nargo.toml
  noir/liquidity_proof/Nargo.toml
  noir/liquidity_proof/src/main.nr
  noir/merkle_proof/Nargo.toml
  noir/noir-toolchain.toml
  noir/nullifier/Nargo.toml
  noir/pedersen_commitment/Nargo.toml
  noir/policy/Nargo.toml
  noir/policy_bound_proof/Nargo.toml
  noir/private_transfer/Nargo.toml
  noir/ring_signature/Nargo.toml
  noir/sanctions_check/Nargo.toml
  noir/shielded_pool/Nargo.toml
  noir/state_commitment/Nargo.toml
  noir/state_transfer/Nargo.toml
  noir/swap_proof/Nargo.toml
  noir/swap_proof/src/main.nr
  relayer/package-lock.json
  relayer/src/abi.ts
  relayer/src/config.ts
  relayer/src/health.ts
  relayer/src/index.ts
  relayer/src/queue.ts
  relayer/src/watcher.ts
Due: typescript-check

fix: resolve npm security vulnerabilities + AggregatorHonkVerifier build
  contracts/verifiers/generated/AggregatorHonkVerifier.sol
  foundry.toml
  package-lock.json
  package.json
  relayer/package-lock.json
  relayer/package.json
  relayer/src/config.ts
  relayer/src/queue.ts
Due: solhint, typescript-check, forge-build

feat: relayer on-chain registration + NoirProver dual-path artifact loading + SDK tests
  relayer/src/abi.ts
  relayer/src/config.ts
  relayer/src/index.ts
  sdk/src/zkprover/NoirProver.ts
  sdk/test/NoirProver.advanced.test.ts
  sdk/test/NoirProver.artifacts.test.ts
  sdk/test/NoirProver.test.ts
Due: typescript-check

style: prettier formatting for relayer/index.ts and artifacts test
  relayer/src/index.ts
  sdk/test/NoirProver.artifacts.test.ts
Due: typescript-check

feat: phases B/D/E/F — deploy script, E2E test, SDK fixes, npm publish, Certora triage
  .github/workflows/release.yml
  Makefile
  certora/conf/verify_crosschain.conf
  certora/conf/verify_crosschain_security.conf
  relayer/src/health.ts
  relayer/src/queue.ts
  scripts/deploy/deploy-testnet.ts
  sdk/src/bridge/CrossChainLiquidityVaultClient.ts
  sdk/src/privacy/PrivacyHubClient.ts
  sdk/src/privacy/index.ts
  sdk/src/security/ExperimentalFeatureRegistryClient.ts
  test/integration/PrivateTransferE2E.t.sol
Due: forge-fmt, typescript-check, forge-build

fix(test): E2E test — add MockBridgeAdapter, configureChain, stake, role separation
  test/integration/PrivateTransferE2E.t.sol
Due: forge-fmt, forge-build

fix: resolve test failures, remove unused imports, add CI improvements
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  README.md
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/core/ConfidentialStateContainerV3.sol
  contracts/core/NullifierRegistryV3.sol
  contracts/crosschain/ArbitrumBridgeAdapter.sol
  contracts/crosschain/CrossL2Atomicity.sol
  contracts/crosschain/L2ChainAdapter.sol
  contracts/integrations/CrossChainBridgeIntegration.sol
  contracts/integrations/PrivacyPoolIntegration.sol
  contracts/integrations/PrivateProofRelayIntegration.sol
  contracts/integrations/ZaseonAtomicSwapSecurityIntegration.sol
  contracts/primitives/ProofCarryingContainer.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/UnifiedNullifierManager.sol
  contracts/security/SecurityModule.sol
  contracts/upgradeable/PrivacyRouterUpgradeable.sol
  contracts/upgradeable/UniversalShieldedPoolUpgradeable.sol
  docs/BRIDGE_INTEGRATION.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/LIQUIDITY_MANAGEMENT.md
  docs/NATSPEC_AUDIT_REPORT.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/adr/ADR-004-experimental-feature-isolation.md
  foundry.toml
  scripts/deploy/DeployMainnet.s.sol
  scripts/deploy/WireRemainingComponents.s.sol
  scripts/deploy/deploy-testnet.ts
  test/integration/PrivateTransferE2E.t.sol
  test/internal/ProofValidator.t.sol
  test/primitives/ProofCarryingContainer.t.sol
  test/privacy/CrossChainPrivacyHub.t.sol
  test/privacy/PrivacyCoverage.t.sol
  test/verifiers/GeneratedVerifiers.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat: security hardening + bridge adapters + interface refactoring
  .github/workflows/certora.yml
  README.md
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/crosschain/ArbitrumBridgeAdapter.sol
  contracts/crosschain/CrossChainEmergencyRelay.sol
  contracts/crosschain/CrossChainNullifierSync.sol
  contracts/crosschain/HyperlaneAdapter.sol
  contracts/crosschain/LayerZeroAdapter.sol
  contracts/crosschain/LineaBridgeAdapter.sol
  contracts/crosschain/ScrollBridgeAdapter.sol
  contracts/crosschain/zkSyncBridgeAdapter.sol
  contracts/integrations/CrossChainBridgeIntegration.sol
  contracts/integrations/PrivacyOracleIntegration.sol
  contracts/integrations/PrivacyPoolIntegration.sol
  contracts/interfaces/ICrossChainBridge.sol
  contracts/interfaces/IPrivacyIntegration.sol
  contracts/privacy/BatchAccumulator.sol
  contracts/relayer/DecentralizedRelayerRegistry.sol
  contracts/security/ProtocolEmergencyCoordinator.sol
  docs/BRIDGE_INTEGRATION.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/TEST_COVERAGE_SUMMARY.md
  gambit.yaml
  relayer/.env.example
  relayer/docker-compose.yml
  scripts/validate-env.sh
Due: forge-fmt, solhint, forge-build

docs: upgrade README and documentation; implement interface compliance for 5 contracts
  .github/workflows/deploy-testnet.yml
  README.md
  contracts/crosschain/CrossChainEmergencyRelay.sol
  contracts/crosschain/CrossChainNullifierSync.sol
  contracts/interfaces/ICrossChainEmergencyRelay.sol
  contracts/interfaces/ICrossChainNullifierSync.sol
  contracts/interfaces/IExperimentalFeatureRegistry.sol
  contracts/interfaces/IUnifiedNullifierManager.sol
  contracts/interfaces/IViewKeyRegistry.sol
  contracts/privacy/CrossChainPrivacyHub.sol
  contracts/privacy/UnifiedNullifierManager.sol
  contracts/privacy/ViewKeyRegistry.sol
  contracts/security/ExperimentalFeatureRegistry.sol
  contracts/upgradeable/NullifierRegistryV3Upgradeable.sol
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/FORMAL_VERIFICATION.md
  docs/GETTING_STARTED.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/architecture.md
  test/crosschain/CrossChainEmergencyRelay.t.sol
  test/crosschain/CrossChainNullifierSync.t.sol
  test/foundry/CrossChainIntegration.t.sol
  test/fuzz/PrivacyFuzz.sol
  test/privacy/PrivacyCoverage.t.sol
  test/privacy/UnifiedNullifierManager.t.sol
  test/privacy/ViewKeyRegistry.t.sol
  test/security/ExperimentalFeatureRegistry.t.sol
  test/security/ExperimentalGraduationManager.t.sol
  test/security/SecurityHardening.t.sol
  test/upgradeable/NullifierRegistryV3Upgradeable.t.sol
Due: forge-fmt, solhint, forge-build

docs: comprehensive documentation upgrade for metadata leakage reduction
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  ROADMAP_INTERNAL.md
  docs/BRIDGE_INTEGRATION.md
  docs/BRIDGE_SECURITY_FRAMEWORK.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/FORMAL_VERIFICATION.md
  docs/GETTING_STARTED.md
  docs/INTEGRATION_GUIDE.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/MODULAR_PRIVACY_ARCHITECTURE.md
  docs/MONITORING_CONFIG.md
  docs/PRIVACY_MIDDLEWARE.md
  docs/RELAYER_RESILIENCE.md
  docs/SECURITY_HARDENING.md
  docs/SOLIDITY_API_REFERENCE.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/THREAT_MODEL.md
  docs/ZASEON_LITE.md
  docs/architecture.md
Due: none

docs: rewrite README from scratch with verified project metrics
  README.md
Due: none

docs: upgrade README with hero section, privacy guarantees, data flow, SDK examples
  README.md
Due: none

docs: gap analysis remediation — upgrade 30 docs, ADRs, copilot instructions, changelog, and gambit config
  .github/copilot-instructions.md
  CHANGELOG.md
  ROADMAP_INTERNAL.md
  docs/BRIDGE_INTEGRATION.md
  docs/BRIDGE_SECURITY_FRAMEWORK.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/FORMAL_VERIFICATION.md
  docs/GETTING_STARTED.md
  docs/INTEGRATION_GUIDE.md
  docs/L2_INTEROPERABILITY.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/MODULAR_PRIVACY_ARCHITECTURE.md
  docs/MONITORING_CONFIG.md
  docs/PRIVACY_MIDDLEWARE.md
  docs/RISK_MITIGATION_ROADMAP.md
  docs/SECURITY_HARDENING.md
  docs/SOLIDITY_API_REFERENCE.md
  docs/STEALTH_ADDRESSES.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/THREAT_MODEL.md
  docs/ZASEON_LITE.md
  docs/adr/ADR-001-groth16-over-plonk.md
  docs/adr/ADR-004-experimental-feature-isolation.md
  docs/adr/ADR-008-multi-bridge-failover.md
  docs/adr/ADR-012-bridge-plugin-architecture.md
  docs/architecture.md
  gambit.yaml
Due: none

fix: critical security bugs across 7 contracts + deploy script
  contracts/bridge/CrossChainLiquidityVault.sol
  contracts/core/NullifierRegistryV3.sol
  contracts/crosschain/MultiBridgeRouter.sol
  contracts/crosschain/OptimismBridgeAdapter.sol
  contracts/privacy/DelayedClaimVault.sol
  contracts/security/OptimisticRelayVerifier.sol
  scripts/deploy/DeployMainnet.s.sol
  test/crosschain/MultiBridgeRouter.t.sol
  test/crosschain/MultiBridgeRouterExtended.t.sol
  test/security/OptimisticRelayVerifier.t.sol
Due: forge-fmt, solhint, forge-build

docs: upgrade all documentation with accurate project counts
  .github/copilot-instructions.md
  README.md
  docs/BRIDGE_INTEGRATION.md
  docs/COVERAGE.md
  docs/CROSS_CHAIN_PRIVACY.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/FORMAL_VERIFICATION.md
  docs/GETTING_STARTED.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/NATSPEC_AUDIT_REPORT.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/ZASEON_LITE.md
Due: none

Fix security gaps, align specs, and unbreak full test suite
  .github/workflows/certora.yml
  certora/conf/verify_multi_bridge_router.conf
  certora/conf/verify_optimism_bridge.conf
  certora/specs/LayerZeroBridge.spec
  certora/specs/MultiBridgeRouter.spec
  certora/specs/UpgradeableContracts.spec
  contracts/bridge/CrossChainProofHubV3.sol
  contracts/integrations/PrivacyOracleIntegration.sol
  contracts/interfaces/ICrossChainProofHubV3.sol
  contracts/primitives/ZKBoundStateLocks.sol
  contracts/relayer/DecentralizedRelayerRegistry.sol
  contracts/security/SecurityModule.sol
  contracts/upgradeable/CrossChainProofHubV3Upgradeable.sol
  contracts/upgradeable/ZaseonAtomicSwapV2Upgradeable.sol
  foundry.toml
  scripts/populate-monitoring.ts
  test/bridge/CrossChainProofHubV3.t.sol
  test/core/InstantCompletionGuarantee.t.sol
  test/crosschain/CrossChainEmergencyRelay.t.sol
  test/fuzz/CrossChainLiquidityVaultFuzz.t.sol
  test/integration/CompliancePrivacyE2E.t.sol
  test/integration/CrossChainLiquidityVaultE2E.t.sol
  test/integration/RelayerFeeMarketE2E.t.sol
  test/integrations/CrossChainBridgeIntegration.t.sol
  test/privacy/CrossChainPrivacyExtended.t.sol
  test/privacy/CrossChainPrivacyHub.t.sol
  test/privacy/PrivacyCoverage.t.sol
  test/privacy/SanityCheck.t.sol
  test/relayer/PrivateRelayCommitReveal.t.sol
  test/relayer/SelfRelayAdapter.t.sol
  test/relayer/UnifiedRelayerFacade.t.sol
  test/security/RelayCircuitBreaker.t.sol
  test/security/RelayFraudProof.t.sol
Due: forge-fmt, solhint, typescript-check, forge-build

feat(crosschain): add BitVM bridge adapter support
  README.md
  contracts/crosschain/BitVMAdapter.sol
  docs/FORMAL_VERIFICATION.md
  scripts/deploy/DeployL2Bridges.s.sol
  test/crosschain/BitVMAdapter.t.sol
Due: forge-fmt, solhint, forge-build

feat(bitvm): harden adapter and wire router/orchestrator integration
  contracts/crosschain/BitVMAdapter.sol
  contracts/interfaces/IMultiBridgeRouter.sol
  docs/BRIDGE_COMPARISON_MATRIX.md
  docs/BRIDGE_INTEGRATION.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/MAINNET_SECURITY_CHECKLIST.md
  docs/SOLIDITY_API_REFERENCE.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/THREAT_MODEL.md
  docs/ZASEON_LITE.md
  docs/adr/ADR-008-multi-bridge-failover.md
  docs/adr/ADR-012-bridge-plugin-architecture.md
  scripts/deploy/DeployL2Bridges.s.sol
  test/crosschain/BitVMAdapter.t.sol
Due: forge-fmt, solhint, forge-build

test(bitvm): add router fallback integration coverage
  docs/DEPLOYMENT.md
  test/integration/CrossChainAdapterRoutingE2E.t.sol
Due: forge-fmt, forge-build

test(bitvm): expand hardening and admin-edge coverage
  test/crosschain/BitVMAdapter.t.sol
Due: forge-fmt, forge-build

Path conditions:
  forge-fmt: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/verifiers/generated/)
  solhint: any of: \.sol$, but not: (lib/|node_modules/|coverage-stubs/|contracts/mocks/|test/)
  typescript-check: any of: \.(ts|tsx)$
  forge-build: any of: \.sol$
